-
  var values = [
   {
     perDayCost: 3,
     exchangeRate: 1,
     currency: "Turkish Lira",
     changeExchangeRate: "28.39%",
     exchangeRate2: 4.534477,
     estimatedAirfare: "$2,910.69"
   },
   {
     perDayCost: 4,
     exchangeRate: 2,
     currency: "Mexican Peso",
     changeExchangeRate: "7.15%",
     exchangeRate2: 19.989009,
     estimatedAirfare: "$1,583.99"
   },
   {
     perDayCost: 10,
     exchangeRate: 3,
     currency: "Kazakhstani Tenge",
     changeExchangeRate: "5.68%",
     exchangeRate2: 329.438757,
     estimatedAirfare: "$3,183.19"
   },
   {
     perDayCost: 1,
     exchangeRate: 4,
     currency: "Nepalese Rupee",
     changeExchangeRate: "5.10%",
     exchangeRate2: 108.376744,
     estimatedAirfare: "$3,749.07"
   },
   {
     perDayCost: 7,
     exchangeRate: 5,
     currency: "Indonesian Rupiah",
     changeExchangeRate: "4.54%",
     exchangeRate2: 13915.79336,
     estimatedAirfare: "$6,462.90"
   },
   {
     perDayCost: 2,
     exchangeRate: 6,
     currency: "Sri Lankan Rupee",
     changeExchangeRate: "3.57%",
     exchangeRate2: 158.259647,
     estimatedAirfare: "$4,345.08"
   },
   {
     perDayCost: 20,
     exchangeRate: 7,
     currency: "Swiss Franc",
     changeExchangeRate: "1.65%",
     exchangeRate2: 0.984249,
     estimatedAirfare: "$2,424.15"
   },
   {
     perDayCost: 18,
     exchangeRate: 8,
     currency: "New Zealand Dollar",
     changeExchangeRate: "1.32%",
     exchangeRate2: 1.427388,
     estimatedAirfare: "$5,193.58"
   },
   {
     perDayCost: 16,
     exchangeRate: 9,
     currency: "Hong Kong Dollar",
     changeExchangeRate: "0.66%",
     exchangeRate2: 7.844367,
     estimatedAirfare: "$3,707.79"
   },
   {
     perDayCost: 15,
     exchangeRate: 10,
     currency: "Trinidadian Dollar",
     changeExchangeRate: "0.02%",
     exchangeRate2: 6.727108,
     estimatedAirfare: "$1,671.34"
   },
   {
     perDayCost: 19,
     exchangeRate: 11,
     currency: "Australian Dollar",
     changeExchangeRate: "-1.79%",
     exchangeRate2: 1.320978,
     estimatedAirfare: "$5,872.62"
   },
   {
     perDayCost: 6,
     exchangeRate: 12,
     currency: "Romanian New Leu",
     changeExchangeRate: "-1.82%",
     exchangeRate2: 3.990838,
     estimatedAirfare: "$2,227.02"
   },
   {
     perDayCost: 17,
     exchangeRate: 13,
     currency: "Singapore Dollar",
     changeExchangeRate: "-3.25%",
     exchangeRate2: 1.338594,
     estimatedAirfare: "$6,220.70"
   },
   {
     perDayCost: 12,
     exchangeRate: 14,
     currency: "South Korean Won",
     changeExchangeRate: "-3.55%",
     exchangeRate2: 1080.507821,
     estimatedAirfare: "$3,287.69"
   },
   {
     perDayCost: 8,
     exchangeRate: 15,
     currency: "Botswana Pula",
     changeExchangeRate: "-3.73%",
     exchangeRate2: 9.958595,
     estimatedAirfare: "$4,242.03"
   },
   {
     perDayCost: 13,
     exchangeRate: 16,
     currency: "Euro",
     changeExchangeRate: "-3.76%",
     exchangeRate2: 0.856486,
     estimatedAirfare: "$2,435.22"
   },
   {
     perDayCost: 5,
     exchangeRate: 17,
     currency: "Bulgarian Lev",
     changeExchangeRate: "-3.81%",
     exchangeRate2: 1.675142,
     estimatedAirfare: "$2,359.43"
   },
   {
     perDayCost: 14,
     exchangeRate: 18,
     currency: "Canadian Dollar",
     changeExchangeRate: "-3.96%",
     exchangeRate2: 1.296986,
     estimatedAirfare: "$1,230.51"
   },
   {
     perDayCost: 11,
     exchangeRate: 19,
     currency: "Croatian Kuna",
     changeExchangeRate: "-4.16%",
     exchangeRate2: 6.32657,
     estimatedAirfare: "$2,494.05"
   },
   {
     perDayCost: 9,
     exchangeRate: 20,
     currency: "Thai Baht",
     changeExchangeRate: "-5.85%",
     exchangeRate2: 32.061667,
     estimatedAirfare: "$5,592.63"
   }
  ]