
.icon:before
  content: ''
  display: inline-block
  background-position: 0px 0px
  background-size: 100% auto
  background-repeat no-repeat
  vertical-align middle

.icon-airplane:before
  background-image: url(images/icons/icon-airplane.svg)
  height: 16px
  width: 16px
  margin-right: 8px

.icon-author:before
  width: 21px
  height: 21px
  background-image: url(images/svg/author.svg)
  margin-right: 10px

.icon-register:before
  background-image: url(images/svg/icon-user.svg)
  height: 12px
  width: 11px
  margin-top: -3px

.icon-fb:before
  background-image: url(images/svg/icon-facebook.svg)
  height: 15px
  width: 7px

.icon-twitter:before
  background-image: url(images/svg/icon-twitter.svg)
  height: 13px
  width: 16px

.icon-google:before
  background-image: url(images/svg/iocn-google.svg)
  height: 20px
  width: 24px

.icon-close:before
  background-image: url(images/svg/icon-close.svg)
  height: 12px
  width: 10px

.icon-close-black:before
  background-image: url(images/svg/icon-close-black.svg)
  height: 12px
  width: 12px

.icon-zoom:before
  background-image: url(images/svg/icon-zoom.svg)
  height: 16px
  width: 16px

.icon-hint
  &:before
    position: relative
    background-image: url(images/icons/icon-hint.svg)
    height: 16px
    width: 16px
    margin-left: 6px
    margin-right: 8px
    top: -1px
    cursor: pointer

.icon-hint
  &:hover
    &:before
      background-image: url(images/icons/icon-hint-blue.svg)

.icon-show:before
  position: relative
  background-image: url(images/icons/icon-show.svg)
  height: 20px
  width: 20px
  margin-left: 6px
  top: -2px

.text-icon
  position: relative
  padding-left: 12px
  font-weight: 600
  &:before
    content: ''
    display: inline-block
    position: relative
    left: -7px
    top: 2px
    width: 14px
    height: 14px
    background-repeat: no-repeat
    background-size: contain

.icon-dining
  &:before
    background-image: url(images/icons/dining.svg)

.icon-groceries
  &:before
    width: 16px
    height: 10px
    background-image: url(images/icons/groceries.svg)
    top: 0

.icon-transit
  &:before
    height: 12px
    background-image: url(images/icons/transit.svg)
    top: 0

.icon-recreation
  &:before
    background-image: url(images/icons/recreation.svg)
    top: 0

.icon-shopping
  &:before
    width: 16px
    height: 16px
    background-image: url(images/icons/shopping.svg)

.icon-hotels
  &:before
    width: 12px
    height: 16px
    background-image: url(images/icons/hotels.svg)

.icon-flights
  &:before
    width: 16px
    background-image: url(images/icons/flights.svg)

.dining-tbl
  background-image: url(images/icons/dining_table.svg)
