@media (min-width: 1850px)
  .content
    width: 1360px

  .main-pic
    padding: 32px 45px 32px 45px
    background-position center

  .text-box
    padding: 64px 60px 64px 60px
    &--upper
      position: relative

  .upper-pic
    left: 60px

  .table-hint
    right: 69px

  .overall__hint
    left: 53.2%

  .show_more
    margin-top: 44px

@media (max-width: 1850px)
  .content
    width: 1220px

  .page__wrap
    background-image url(images/footer_bg.png) , url(images/svg/clouds_bg.svg) , none, linear-gradient(-180deg, #34c4f0 0, #1c90e2 100%)

  .main-pic
    padding-left: 60px
    height: 635px

  .related-head
    padding: 0 25px

  .related-list
    padding: 34px 25px 0

  .methodology-article
    padding-top: 23px
    padding-left: 141px
    &:before
      left: 20px

  .detailed-table
    td
      padding: 0 30px
      height: 50px
      box-sizing: border-box

@media (min-width: 1019px) and (max-width: 1370px)
  body
    color: inherit


@media (max-width: 1370px)
  .content
    width: 980px

  .article-title
    font-size: 40px
    line-height: 68px
    font-weight: 600

  .main-pic
    height: 568px
    background-repeat no-repeat
    background-position right top
    padding: 32px 25px 45px 25px

  .under-title
    margin-bottom: 32px
    width: 86%

  .countries__item
    &:after
      width: 980px
      left: -25px

  .overall__hint
    left: 49.7%

  .table-hint
    right: 38px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 32px

  .related-list .col
    width: 49%

  .text-box
    padding: 44px 25px 42px 25px

  .flight
    table
      display: flex
    tbody
      width: 100%
    tr
      display: flex
      flex-direction: row
      justify-content: space-between

  .countries__table
    th
      font-size: 11px

  .info-hint
    right: -10px
    &:after
      right: 14px

  .bottom-col
    width: 48%
    padding-right: 8px

  .text-box.last
    display: block

@media (max-width: 1019px)
  .content
    width: auto
    max-width: 740px

  .article-title
    font-size: 31px
    line-height: 40px
    font-weight: 600
    margin-bottom: 24px

  .text-box
    padding: 32px 25px 32px 25px

  .main-pic
    height: 345px
    padding: 25px
    background-image url("images/main_pic.png")
    background-position center

  .info-hint
    right: 260px
    bottom: 85px
    top: auto

  .top-menu__link
    margin: 0 10px

  .under-title
    width: 81%

  .primary-text
    padding-left: 72px
    &:before
      top: 24px
      left: 24px

  .block-title
    padding-left: 13px
    padding-right: 13px
    margin-bottom: 32px
    line-height: 42px

  .key-findings__pic 
    position: absolute

  .key-findings__list
    li:first-child
      margin-left: 128px

  .table-hint
    right: 17px
    bottom: 145px

  .overall__hint
    left: 45.2%

  .countries__item
    &:after
      width: 740px
      left: -25px

  .countries__title
    font-size: 22px
    line-height: 30px

  .countries__photo
    width: 374px
    height: 200px

  .countries__info
    width: calc(100% - 398px)

  .flight
    width: 100%

  .image-wrapper
    height: 180px

  .argentina
    img
      top: -30%

  .uk
    img
      top: -29%

  .china
    img
      top: -11%

  .sweden
    img
      top: -17%

  .canada
    img
      top: -25%

  .japan
    img
      top: -23%

  .mexico
    img
      top: -25%

  .singapore
    img
      top: -12%

  .norway
    img
      top: -27%

  .hong-kong
    img
      top: -21%

  .iceland
    img
      top: -15%

  .south_africa
    img
      top: -15%

  .brazil
    img
      top: -10%

  .israel
    img
      top: -25%

  .south_korea
    img
      top: -25%

  .poland
    img
      top: -25%

  .chile
    img
      top: -25%

  .australia
    img
      top: -25%

  .new_zealand
    img
      top: -25%

  .czechia
    img
      top: -25%

  .countries__table
    th
      padding: 0 10px 0 34px
      position: relative
      text-align: left
      height: 50px
      &:before
        position: absolute
        left: 12px
        top: 16px
      &:nth-child(2)
        &:before
          top: 20px

      &:nth-child(3)
        &:before
          top: 20px

      &:nth-child(4)
        &:before
          top: 16px

      &:nth-child(5)
        &:before
          top: 16px

      &:nth-child(6)
        &:before
          top: 16px

  .countries__more-info
    position: static
    margin: auto

  .countries__table
    margin-bottom: 24px

  .overall-pic
    padding: 105px 25px 25px 25px
    .block-title
      font-size: 32px
      line-height: 42px
      margin-bottom: 24px

    .primary-text
      padding: 16px 16px 16px 64px
      font-size: 13px
      line-height: 24px
      &:before
        left: 16px
        top: 16px

  .related-head
    padding: 0 20px

  .related-list
    padding-left: 21px

  .related-list .col
    width: 46%

  .methodology-article
    padding-left: 97px
    padding-right: 0
    padding-top: 23px
    &:before
      left: 8px
      top: 27px

  .methodology-title
    text-align: center

  .bottom-col
    width: 49%
    padding-right: 0px

  .text-box--methodology
    .main-text
      padding-left: 0

  .brands
    padding-left: 0

  .x-rates
    width: 92px
    height: 19px

  .kiwi
    width: 70px
    height: 35px

  .numbeo
    width: 95px
    height: 30px

  .pintprice
    width: 130px
    height: 25px

  .hotels
    width: 95px
    height: 30px

  .countries__tables-block
    max-height: 9999px
    margin-bottom: 20px

  .text-box--country
    .countries__head
      display: flex
      flex-direction: row
      align-items: flex-start
    .countries__head-text
      width: 60%

  .table-wrapper
    width: 100%

@media (min-width: 759px)
  .row6
    background-color: #F0FBFE

  .row7
    background-color: $color_white

  .row8
    background-color: #F0FBFE

  .row9
    background-color: $color_white

  .row10
    background-color: #F0FBFE

  .mobile-only-close
    display: none

  .mobile-only-show
    display: none

  .table-hint
    display: none
    &:before
      display: none

  .icon-hint:hover + .table-hint--closed
    display: block

 .ranking-table.show
  padding-top: 20px
  margin-right: 15px
  margin-left: 15px
  margin-top: 45px
  .primary-text
    display: none
  .block-title
    font-size: 26px
    font-weight: 600
  .full-table
    display: table
    width: 100%
    overflow scroll
  .mobile-only-show
    display: none
  .mobile-only-close
    display: block

@media (max-width: 759px)
  .content
    margin-left: 10px
    margin-right: 10px

  .table-hint--closed
    display: none

  .top-logo
    display: none

  .mob-logo
    display: block
    width: 35px
    height: 38px

  .breadcrumbs__wrap
    white-space: nowrap

    max-width: 100%
    box-sizing border-box

  .breadcrumbs__item:last-child
    overflow: hidden
    text-overflow: ellipsis

  .text-box--upper
    padding: 24px 12px 32px 12px

  .text-box--countries
    padding: 32px 12px 32px 12px

  .article-title
    font-size: 21px
    line-height: 32px
    font-weight: 600
    margin-bottom: 16px

  .main-pic
    height: 345px
    padding: 12px 12px 16px 12px
    background-position: 27% 10%
    background-image url("images/main_pic.png")

  .main-pic__mask
    height: 170px

  .text-box
    padding: 24px 12px 32px 12px
    overflow: hidden
    &--upper
      justify-content: center
      .upper-pic
        margin-bottom: 32px
      .under-title
        width: 100%

      .under-title
        font-size: 16px
        line-height: 28px
        font-weight: 200

      .main-text
        font-size: 14px
        line-height: 24px
        font-weight: 300

  .key-findings
    flex-direction: column
    li:first-child
      margin-left: 0

  .text-box--key-findings
    position: relative
    padding-top: 144px

  .key-findings__pic
    top: 24px
    left: 50%
    transform: translateX(-50%)

  .flight
    padding: 12px
    &:before
      left: 12px
      top: 16px

    table
      tbody
        display: flex
        flex-direction: column
    tr
      display: flex
      flex-direction: column
    th
      text-align: left
      margin-bottom: 36px
      &:first-child
        padding-left: 28px
      &:nth-child(2)
        margin-bottom: 24px
    td
      text-align: left
      position: absolute
      &:first-child
        top: 32px
        left: 12px
      &:nth-child(2)
        top: 95px
        left: 12px

  .countries__table
    table
      display: flex
      flex-direction: row
      justify-content: space-between
    thead
      width: 60%
      tr
        display: flex
        flex-direction: column
        flex-wrap: wrap
        th
          width: 100%
          height: 48px
          padding-top: 16px
          box-sizing: border-box
          &:nth-child(odd)
            background-color: #EFF3FE
          &:nth-child(even)
            background-color: #FFFFFF
    tbody
      width: 40%
      tr
        display: flex
        flex-direction: column
        height: 100%
        td
          width: 100%
          height: 48px
          box-sizing: border-box
          &:last-child
            padding-left: 12px
          &:nth-child(odd)
            background-color: #EFF3FE
          &:nth-child(even)
            background-color: #FFFFFF

  .countries__item:after 
    width: calc(100% + 24px)
    left: -12px

  .info-hint
    left: 50%
    transform: translateX(-50%)

  .table-hint
    right: 0
    width: 238px
    bottom: 138px
    padding: 12px 18px 12px 14px
    &:after
      display: none

  .countries__item
    padding-bottom: 38px
    margin-bottom: 32px

  .countries__item--last
    .table-hint
      bottom: 100px

  .show_more
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 58px
    padding-top: 9px
    padding-bottom: 9px
    line-height: 18px
    box-sizing: border-box
    text-align: center
    &:after
      display: none

  .primary-title
    font-size: 20px
    padding-bottom: 22px
    line-height: 34px

  .cols__wrap
    flex-wrap wrap

  .bottom-col
    width: 100% 

  .block-title
    font-size 26px
    line-height: 34px
    padding: 0
    margin-bottom: 24px

  .primary-text
    padding: 16px 14px 16px 14px
    font-size: 14px
    margin-bottom: 32px
    &:before
      position: static
      float: left
      margin-right: 10px
      margin-top: 4px

  .countries__info
    width: 100%

  .countries__photo
    position:  absolute
    top: 47px
    width: 100%
    height: 240px

  .image-wrapper
    height: 220px
    img
      min-width: 100%
      min-height: 100%
      height: auto

  .countries__head
    padding-left: 10px
    margin-bottom: 270px

  .overall-pic
    height: 364px
    padding: 44px 10px 16px 10px
    background-position: 20% 0
    .block-title
      font-size: 22px
      line-height: 32px
      margin-bottom: 16px
    .primary-text
      padding: 15px
      font-size: 12px

  .overall-pic__mask
    height: 364px

  .overall__hint
    display: none

  .text-box--methodology
    padding-top: 124px

  .uk-stats
    margin-right: 4px

  .methodology__link
    margin-left: 0

  .methodology__img
    top: 36px
    left: 50%
    transform: translateX(-50%)

  .x-rates
    width: 83px
    height: 17px
    margin-bottom: 24px

  .kiwi
    width: 63px
    height: 32px
    margin-bottom: 24px

  .numbeo
    width: 86px
    height: 29px
    margin-bottom: 24px

  .pintprice
    width: 118px
    height: 23px

  .hotels
    width: 118px
    height: 23px

  .related-list
    padding-top: 19px
    padding-left: 17px
    flex-direction column

  .related-item__link
    line-height 27px

  .related-list .col
    width: 100%

  .related-item
    padding-bottom: 22px

  .related
    margin-top: 17px

  .show-table
    text-align center
    font-size: 12px
    color: $main_color
    letter-spacing: 0
    line-height: 22px
    margin: 0 auto
    display: block
    span
      border-bottom: 1px dotted $main_color
      margin-left: 8px
    &:hover
      span
        border-bottom: none

  .mobile-table
    width: 100%
    margin-bottom: 16px

  .methodology-article
    padding-top: 110px
    padding-left: 0

  .methodology-article:before
    left: 50%
    top: 18px
    margin-left: -31px

  .mobile-only-show
    display: block

  .mobile-only-close
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-color $main_color
    top: 10px
    right: 25px
    .icon
      margin-right: 8px

  .only_mob-crop
    width: 100px
    overflow: hidden
    white-space: nowrap
    display: inherit
    text-overflow: ellipsis
    vertical-align: top     
    
  .mobile-table
    width: 100%
    margin-bottom: 16px

  .mobile-only-close
    display: none
    font-style: normal
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: white
    text-decoration: none
    height: 41px
    text-transform: uppercase
    border-radius: 3px
    padding: 0 20px
    overflow: hidden
    font-size: 11px
    line-height: 41px
    font-weight bold
    position: fixed
    background-color $main_color
    top: 10px
    right: 25px
    .icon
      margin-right: 8px
    
  .table-overall
    display: none
    .mobile-only-show
      display: block

  .table-overall__wrap.show
    padding-top: 20px
    margin-right: 15px
    margin-left: 15px
    margin-top: 45px
    table
      min-width: 380px
      display: table
      width: 100%
      overflow: scroll
    .mobile-only-show
      display: none
    .mobile-only-close
      display: block

  .table_sort
    &:before,
    &:after
      right: 10px

  .argentina
    img
      top: -5%

  .uk
    img
      top: -15%

  .china
    img
      top: -5%

  .sweden
    img
      top: -5%

  .canada
    img
      top: -10%

  .japan
    img
      top: -15%

  .mexico
    img
      top: -15%

  .singapore
    img
      top: -10%

  .norway
    img
      top: 0

  .hong-kong
    img
      top: -15%

  .iceland
    img
      top: -5%

  .south_africa
    img
      top: -5%

  .brazil
    img
      top: 0

  .israel
    img
      top: -10%

  .south_korea
    img
      top: -10%

  .poland
    img
      top: -10%

  .chile
    img
      top: -10%

  .australia
    img
      top: -10%

  .new_zealand
    img
      top: -10%

  .czechia
    img
      top: -10%

  .text-box--country
    .breadcrumbs__wrap
      margin-bottom: 28px

    .countries__photo
      top: 50px

  .detailed-table
    th
      padding-left: 16px
      padding-right: 10px
    td
      padding-left: 16px
      padding-right: 10px


@media (max-width: 450px)

  .countries__photo
    position:  absolute
    top: 47px
    width: 100%
    height: 180px

  .text-box--country
    .countries__photo
      top: 70px

  .image-wrapper
    height: 160px
    img
      min-width: 100%
      min-height: 100%
      height: auto

  .countries__head
    padding-left: 10px
    margin-bottom: 210px

  .argentina
    img
      top: 0

  .uk
    img
      top: 0

  .china
    img
      top: 0

  .sweden
    img
      top: 0

  .canada
    img
      top: 0

  .japan
    img
      top: 0

  .mexico
    img
      top: 0

  .singapore
    img
      top: 0

  .norway
    img
      top: 0

  .hong-kong
    img
      top: 0

  .iceland
    img
      top: 0
  .south_africa
    img
      top: 0

  .brazil
    img
      top: 0

  .israel
    img
      top: 0
  .south_korea
    img
      top: 0

  .poland
    img
      top: 0

  .chile
    img
      top: 0

  .australia
    img
      top: 0

  .new_zealand
    img
      top: 0

  .czechia
    img
      top: 0
