@import "_variable.styl"

body
  font-family: Whitney SSm A, sans-serif

.main-article
  &--table
    margin-bottom: 290px

.content
  width: 1220px
  margin: 0 auto
  position relative

.main-text
  font-size: 14px
  color: $text_color
  letter-spacing: -0.1px
  line-height: 26px
  font-weight 400

  &.ind-text
    font-weight 300
  a
    color: $main_color
    border-bottom  1px solid rgba(63, 136, 197, 0.3)
    &:hover
      border-bottom: none
b
  font-weight 600
.main-article
	padding-top: 32px

.page__wrap
  background-image: url(images/footer_bg.png), url(images/svg/clouds_bg.svg), url(images/svg/clouds_bg.svg), linear-gradient(-180deg, #34C4F0 0%, #1C90E2 100%)
  background-position 50% 100%, 0 250px, 600px 50%
  background-repeat no-repeat, repeat-x, repeat-x
  background-size: auto, auto, auto

.main-pic
  position: relative
  background-position: center
  background-size: cover
  height: 568px
  padding: 32px 45px 45px 45px
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  border-radius: 5px 5px 0 0
  align-items: flex-start
  position: relative
  background-image: url('images/main_pic.png')

.main-pic__mask
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 200px
  opacity: 0.63
  background-image: linear-gradient(-180deg, rgba(0,0,0,0) 3%, rgba(0,0,0,0.9) 100%)
  z-index: 2

.article-text
  margin-top: auto
  z-index: 5

.article-title
	color: $color_white
	font-size: 46px
	line-height: 52px
	font-weight: 600
	margin-bottom: 12px

.article-author
  font-size: 13px
  color: #FFFFFF
  letter-spacing: 0
  line-height: 16px
  display flex
  align-items center
  font-weight 300
  i
    height: 24px

.primary-text
  position: relative
  padding: 24px 45px 24px 100px
  color: #0D5D83
  font-size: 16px
  line-height: 26px
  font-weight: 300
  font-style: italic
  border: 1px solid #CCEEFF
  margin-bottom: 44px
  &:before
    content: ''
    position: absolute
    width: 32px
    height: 32px
    top: 34px
    left: 44px
    background-image: url(images/icons/info.svg)
    background-repeat: no-repeat

.breadcrumbs
  &__wrap
    display: flex
    background-color: rgba(255, 255, 255, .9)
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10)
    border-radius: 2px
    padding: 0 14px
  &__item
    font-size: 12px
    letter-spacing: 0
    line-height: 42px
    color: #667780
    &:first-child
      &:before
        display: none
    &:before
      content: ''
      display: inline-block
      color: #fff
      width: 6px
      height: 13px
      background-image: url(images/svg/arrow.svg)
      background-position: 0px 5px
      background-size: 100% auto
      margin: 0 6px 0 8px
      background-repeat no-repeat

  &__link
    color: $main_color
    letter-spacing: 0
    line-height: 42px
    text-decoration none
    text-decoration-color: #A3DCF0
    $ultraThin()
    &:hover
      text-decoration underline

.text-box
	padding: 64px 45px 64px 45px
	background-color: $color_white
	margin-bottom: 10px

.text-box--upper
  display: flex
  flex-direction: row
  flex-wrap: wrap

  .main-text
    margin-bottom: 26px
    &:last-child
      margin-bottom: 0


.upper-pic
	img
		width: 96px
		height: 96px

.under-title
  width: 89%
  color: #3D454C
  font-size: 18px
  line-height: 30px
  font-weight: 200
  margin-bottom: 44px
  margin-left: auto

.main-text
	color: #3D454C
	font-size: 14px
	line-height: 24px
	font-weight: 300

.block-title
  font-size: 32px
  line-height: 40px
  margin-bottom: 44px
  color: #142333
  text-align: center
  font-weight: 600

.text-semibold
  font-weight: 600

.key-findings
  display: flex
  flex-direction: row

.key-findings__pic
  margin-right: 32px
  img
    width: 96px
    height: 96px

.key-findings__list
  li
    position: relative
    padding-left: 18px
    list-style: none
    margin-bottom: 24px
    font-size: 14px
    line-height: 26px
    font-weight: 300
    color: #3D454C
    &:before
      content: ""
      position: absolute
      width: 8px
      height: 8px
      left: 0
      top: 8px
      background-image: url(images/icons/bullet.svg)
      background-repeat: no-repeat

.countries__item
  position: relative
  display: flex
  flex-direction: row
  flex-wrap: wrap
  jusstify-content: space-between
  align-items: flex-start
  padding-bottom: 46px
  margin-bottom: 44px
  &:after
    content: ''
    position: absolute
    width: 1220px
    left: -45px
    height: 20px
    bottom: -15px
    background-image: linear-gradient(-180deg, #EBEFF2 0%, #FFFFFF 100%)

.countries__item:nth-child(12),
.countries__item:nth-child(22)
  &:after
    display: none

.countries__info
  position: relative
  width: calc(100% - 464px)
  margin-left: auto
  padding-top: 5px
  margin-bottom: 24px

.countries__photo
  position: relative
  width: 434px
  height: 180px
  border 10px solid #fff
  box-shadow: 0 0 20px 0 rgba(8, 53, 77, 0.12), 10px 26px 53px -28px rgba(0, 0, 0, 0.75)
  border-radius: 10px
  overflow: hidden
  box-sizing: border-box

.image-wrapper
  height: 160px
  position: relative
  border-radius: 5px
  background-color: #ffffff
  overflow: hidden
  img
    position: absolute
    max-width: 100%
    width: 100%

.argentina
  img
    top: -65%

.uk
  img
    top: -65%

.china
  img
    top: -45%

.sweden
  img
    top: -45%

.canada
  img
    top: -45%

.japan
  img
    top: -55%

.mexico
  img
    top: -45%

.singapore
  img
    top: -25%

.norway
  img
    top: -35%

.hong-kong
  img
    top: -35%

.iceland
  img
    top: -35%

.south_africa
  img
    top: -35%

.brazil
  img
    top: -35%

.israel
  img
    top: -45%

.south_korea
  img
    top: -45%

.poland
  img
    top: -45%

.chile
  img
    top: -45%

.australia
  img
    top: -45%

.new_zealand
  img
    top: -35%

.czechia
  img
    top: -25%

.countries__stats
  display: inline-block
  position: relative
  font-size: 18px
  line-height: 26px
  font-weight: 300
  padding-left: 18px
  margin-right: 14px
  &:before
    content: ''
    position: absolute
    left: 0
    top: 4px
    width: 16px
    height: 16px
    background-repeat: no-repeat

.countries__stats--arrow-up
  color: #59BF26
  &:before
    background-image: url('images/icons/arrow_up.svg')

.countries__stats--arrow-down
  color: #BF2626
  &:before
    background-image: url('images/icons/arrow_down.svg')

.countries__text
  font-size: 14px
  line-height: 26px
  font-weight: 300
  color: #3D454C
  margin-top: 16px

.countries__title
  display: inline-block
  font-size: 24px
  line-height: 32px
  color: #3D454C
  font-weight: 600

.flight
  position: relative
  width: calc(100% - 464px)
  padding: 16px
  margin-left: auto
  padding-left: 48px
  background-color: #F4FBFE
  border: 1px solid #DDE9EF
  border-radius: 3px
  margin-bottom: 24px
  box-sizing: border-box
  &:before
    content: ''
    position: absolute
    width: 16px
    height: 16px
    left: 16px
    top: 19px
    background-image: url(images/icons/flights.svg)
    background-repeat: no-repeat

  table
    width: 100%
    border-collapse: collapse
  th
    font-size: 16px
    line-height: 24px
    font-weight: 600
    color: #0A0603
    text-align: right
    &:first-child
      text-align: left
  td
    padding-top: 10px
    font-size: 12px
    line-height: 16px
    font-weight: 300
    color: #859BA6
    text-align: right
    &:first-child
      text-align: left

.more-info
  font-size: 16px
  line-height: 26px
  font-weight: 500
  color: #0DA4F0
  border-bottom: 1px solid #B6E3FA

.countries__more-info
  position: absolute
  right: 0
  top: 10px
  cursor: pointer
  &:hover 
    .more-info
      border: none

.countries__table
  width: 100%
  border: 1px solid #D2DFFD
  border-radius: 5px
  table
    width: 100%
    border-collapse: collapse
  th
    text-transform: uppercase
    font-size: 12px
    line-height: 16px
    font-weight: 700
    color: #6B81B3
    padding-top: 16px
    padding-bottom: 16px
    background-color: rgba(96,142,247,0.20)
    border-right: 1px solid #ffffff
    &:last-child
      border-right: none
    &:before
      content: ''
      display: inline-block
      position: relative
      width: 16px
      height: 16px
      top: 4px
      background-image: url(images/icons/dining_table.svg)
      background-repeat: no-repeat
      margin-right: 8px

    &:nth-child(2)
      &:before
        top: 6px
        background-image: url(images/icons/groceries_table.svg)

    &:nth-child(3)
      &:before
        top: 6px
        background-image: url(images/icons/transit_table.svg)

    &:nth-child(4)
      &:before
        background-image: url(images/icons/recreation_table.svg)

    &:nth-child(5)
      &:before
        top: 2px
        background-image: url(images/icons/shopping_table.svg)

    &:nth-child(6)
      &:before
        top: 2px
        background-image: url(images/icons/accomodation_table.svg)

  td
    font-size: 14px
    line-height: 16px
    font-weight: 300
    color: #142333
    text-align: center
    padding-top: 16px
    padding-bottom: 16px
    font-weight: 500

.info-hint
  position: absolute
  width: 180px
  right: -30px
  top: -85px
  padding: 12px
  font-size: 12px
  line-height: 18px
  color: #475359
  background-color: #ffffff
  border-radius: 5px
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.1)
  &:before
    content: ''
    position: absolute
    width: 12px
    height: 12px
    right: 8px
    top: 8px
    background-image: url(images/svg/icon-close-black.svg)
    background-repeat: no-repeat
    background-position: center
    cursor: pointer

  &:after
    content: ''
    position: absolute
    width: 0
    height: 0
    bottom: -8px
    right: 50%
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 8px solid #ffffff

.table-hint
  position: absolute
  width: 310px
  right: 64px
  bottom: 92px
  padding: 12px 12px 12px 14px
  font-size: 12px
  line-height: 18px
  font-weight: 300
  color: #ffffff
  text-align: left
  background-color: rgba(20,36,51, 0.9)
  border-radius: 5px
  &:before
    content: ''
    position: absolute
    width: 12px
    height: 12px
    right: 7px
    top: 7px
    background-image: url(images/svg/icon-close-black.svg)
    background-repeat: no-repeat
    background-position: center
    cursor: pointer

  &:after
    content: ''
    position: absolute
    width: 0
    height: 0
    bottom: -8px
    right: 22px
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 8px solid rgba(20,36,51, 0.9)

.overall-pic
  height: 300px
  padding: 69px 45px 45px 45px
  display: flex
  flex-direction: column
  justify-content: space-between
  box-sizing: border-box
  border-radius: 5px 5px 0 0
  align-items: flex-start
  position: relative
  background-image: url('images/overall_pic.png')
  background-size: cover
  background-position: top left
  .block-title
    font-size: 46px
    line-height: 54px
    color: #ffffff
    margin-bottom: 32px

  .primary-text
    padding: 24px 32px 24px 84px
    font-size: 15px
    color: #ffffff
    border-color: rgba(255,255,255,0.2)
    font-weight: 300
    line-height: 26px
    border-radius: 5px
    &:before
      left: 32px
      top: 34px
      background-image: url(images/icons/info-white.svg)

.overall-pic__mask
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  height: 300px
  opacity: 0.63
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.21) 3%, #000000 91%);
  z-index: 2

.text-box--overall
  padding-top: 45px

.reg
  font-weight 300
  font-size: 14px
  color: #FF4D4D
  letter-spacing: 0
  line-height: 10px
  position: relative
  top: 3px

.text-box--methodology
  position: relative
  padding-top: 44px
  .main-text
    padding-left: 110px
    margin-bottom: 35px

.methodology__img
  position: absolute

.methodology__link
  position: relative
  padding-left: 15px
  margin-left: 100px
  margin-bottom: 24px
  font-size: 14px
  line-height: 24px
  font-style: italic
  font-weight: 100
  color: #859BA6
  .reg
    position: absolute
    top: 8px
    left: 0
  a
    color: #0CA6F2
    border-bottom: 1px solid #C1E7FA
    &:hover
      border-bottom: none

.brands
  display: flex
  flex-wrap: wrap
  padding-left: 110px
  justify-content: space-between
  align-items: center

.x-rates
  width: 116px
  height: 24px

.kiwi
  width: 88px
  height: 44px

.numbeo
  width: 120px
  height: 40px

.pintprice
  width: 164px
  height: 32px

.hotels
  width: 120px
  height: 40px

.countries__item--last
  padding-bottom: 0
  margin-bottom: 0
  .table-hint
    bottom: 48px

.block-title--methodology
  font-size: 24px
  line-height: 32px
  margin-bottom: 19px

.related
  background: #FFFFFF
  border-radius: 5px
  margin-top: 30px
  margin-bottom: 200px

.related-head
  min-height 54px
  display flex
  justify-content space-between
  align-items center
  background: #F0FAFF
  box-shadow: 0 1px 0 0 #DCEFF5
  border-radius: 5px 5px 0 0
  padding: 0 31px

.related-title
  font-size: 12px
  color: #0084C3
  letter-spacing: 0
  text-transform uppercase
  font-weight 600
  letter-spacing -.1px

.related-list
  padding: 34px 31px 0px 31px
  display flex
  justify-content space-between
  .col
    width: 43%
    padding-right: 5%

.related-item
  padding-bottom: 30px

.related-item__title
  font-size: 14px
  color: #475359
  letter-spacing: -0.2px
  line-height: 20px
  font-weight 600
  padding-bottom: 12px

.related-item__text
  padding-bottom: 13px
  line-height 24px
  font-size: 14px
  color: #475359
  letter-spacing: -0.1px
  font-weight 300

.related-item__link
  letter-spacing: -0.2px
  font-weight 300
  font-size: 14px
  line-height 24px
  color: #0DA4F0
  border-bottom: 1px svgolid rgba(13, 164, 240, 0.30)
  padding-bottom: 2px

  &:after
    width: 100%
    display: block
    content ''
    margin-bottom: 3px

  &:hover
    border-bottom-color: rgba(13, 164, 239, 0.0)

.footer-menu__link, .button-main, .button-register, .rate-block
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale

.show_more
  position: relative
  width: 440px
  box-sizing: border-box
  font-size: 12px
  line-height: 24px
  font-weight: 600
  color: $color_white
  letter-spacing: 0
  border-radius: 5px
  line-height 56px
  text-transform uppercase
  display inline-block
  padding: 0 24px
  cursor: pointer
  margin-top: 70px
  background-color: $color_white
  background-image: linear-gradient(-180deg, #42CCF8 2%, #1D97EC 98%)
  border: 1px solid rgba(255,255,255,1)
  &:after
    content: ''
    position: absolute
    right: 36px
    top: 18px
    width: 20px
    height: 20px
    background-image: url(images/svg/button_icon.svg)
    background-repeat: no-repeat
  &:hover
    color: #009AEE
    background-color: $color_white
    background-image: none
    border: 1px solid rgba(198,224,246,1)
    transition: all .5s ease
    &:after
      background-image: url(images/svg/button_icon-hover.svg)

  .block-title
    font-size: 32px
    line-height: 40px
    font-weight: 600

  .mobile-only-close
    display: none

  .mobile-only-show
    display: none

.dlr-sign
  &:before
    content:'$'
    display: inline-block
